/*
 * GRID
 */

#grid {
    input {
      width: 40px;
      height: 40px;
      padding: 0;
      font-size: 1.8em;
      text-align: center;
      text-transform: uppercase;
      &[class*='string-group-'] {
        background: chartreuse;
        &[class*='inline-group-'] {
          background: DeepSkyBlue ;
        }
      }
      &[class*='inline-group-'] {
        background: yellow;
        &[class*='string-group-'] {
          background: DeepSkyBlue;
        }
      }
    }
}

/*
 * SEARCH
 */

.search {
  margin-bottom: 2px;
  text-transform: uppercase;
}

#string-search {
  margin-bottom: 20px;
}