<save-grid>Save grid</save-grid>
<load-grid>Load grid</load-grid>
<empty-grid>Empty grid</empty-grid>

<p>
    Lines : <input ng-model="linesNb" size="1" maxlength="2"/>
    Columns : <input ng-model="columnsNb" size="1" maxlength="2"/>
</p>

<div>
  <table id="grid">
    <tr ng-repeat="line in getList(linesNb)">
      <td ng-repeat="column in getList(columnsNb)">
        <grid-input></grid-input>
      </td>
    </tr>
  </table>
</div>

<p>Authorize redundancy in searches : <input class="redundancy" type="checkbox" ng-model="redundancy"></p>
<p>
    Search for line, column or diagonal containing :
    <div ng-repeat="inlineSearch in getList(inlineSearchesNumber)">
        <inline-search inline-group="{{$index}}"></inline-search>
    </div>
    <button id='add-inline-search' ng-click="inlineSearchesNumber = inlineSearchesNumber + 1">Ajouter une sélection</button>
</p>
<p>Search for a series of caracters : <string-search></string-search></p>